aside{
    background-color: var(--bg-color);
    width: 18%;
    height: calc(100vh - var(--navbar-height));
    color: var(--text-color);
    padding: 30px 20px;
    flex-shrink: 0;
    p{
       margin-bottom:20px ; 
       font-size: 1rem;
       line-height: 1.5rem;
   }
    hr{
        margin-bottom:20px ;
     }
    ul{
        li{
            a{
                display: flex;
                align-items: center;
                
                gap: 5px;
                margin-bottom: 9px;
                border-radius: 4px;
                padding: 8px;
                color: var(--text-color);
                border-collapse:separate ;
                .link-text{
                    font-size: 15px;
                }
                .active{
                    background-color: var(--primary-color);
                    cursor: pointer;
                }
                &:hover{
                    background-color: var(--primary-color);
                    cursor: pointer;
                }
            }
        }
    }

    
}


