.dashboard-page{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: calc(100vw - 228.38px);
    height: calc(100vh - var(--navbar-height));
    overflow-y: scroll;

    button{
        padding: 0.5rem 1rem;
        border-radius: 4px;
        background-color: var(--bg-color-secondary);
        color: var(--text-color);
    }

    .welcome-container{
        h2{
            margin-bottom: 1rem;
        }

        h4{
            margin-bottom: 0.5rem;
        }

        p{
            width: 40%;
        }
    }

    .new-orders{
        .orders-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
        }
    }

    .customers{
        .customers-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
        }
    }

}